<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Rentshape</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="/privacy">Privacy</a></li>
                <li><a href="https://blogrentshape.wordpress.com/2017/02/05/how-to-rent-a-house-in-the-bay-area/">Blog</a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>