{{> top.hbs}}
<div class="container">
    <h1>Rentshape privacy policy</h1>
    <h2>Your information is your information</h2>
    <p>We will use information you provide to Rentshape in order to serve rental applications.
    This is the primary service we're providing.</p>
    <p>We will use the email on your application to contact you if there are going to be changes to this policy.</p>
    <p>We will NOT sell or disclose any of your information to any third party for any reason.</p>
    <p>We may use aggregated information limited to number of applications broken down by city and state in order to better understand how Rentshape is being used.</p>
    <h2>Changes to this policy</h2>
    <p>If we need to change this policy in any meaningful way we will contact you using the email address you include on your rental application.</p>
    <p>The email will include the changes to the policy, the time before the new policy is to take place which will be no less than 30 days, and instructions to remove your information if you don't like the new policy.</p>
</div>
{{> bottom.hbs}}